@media only screen and (min-width: 1028px) {

header, nav, body, main, footer {
    max-width: 64rem;
    margin: auto;
}
div.myslides {
    max-width: 64rem;
}

div.gallery figure {
    flex-basis: 29%;
}







    
}