header {
    padding: .5rem 2% ;
    display: grid;
    grid-template-columns: 130px auto;
    background-color: #f89ea1;
    color: #ffffff;

}

header div h1 {
    line-height: 0px;
    padding-top: 1.5rem;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
}
header div h3 {
    font-size: .75rem;
}
header div h3, 
nav, 
main,
footer {
    font-family: 'Rubik', sans-serif;
}

main, 
footer {
    padding: 0 2%;
}
main section {
    margin-bottom: 1rem;
}
nav {
    background-color: #e3f3fa;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    padding: 0 2%;
    margin: 0;
    text-align: center;
}

nav ul.hide {
    display: none;
}

nav ul li a {
    display: block;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    color: #000000/*#8baab5*/;
}

nav ul li a:hover {
    background-color: #649faf;
    color: #ffffff;
}

.active {
    background-color: #649faf;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}

h2 {
    margin: 2rem 0 .8rem;
}
h2.page-header {
    text-align: center;
}
/*------------HOME PAGE----------*/
figure.banner {
    flex-basis: 100%;
    margin: 1rem 0;
}

figure.banner img {
    width: 100%;
}
.content-paragraph {
    text-align: center;
}
section.home-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section.home-tiles div.tile,
section.home-tiles div.tile1 {
    float: left;
    width: 96%;
    padding: 0 2%;
}
div.instagram-embed {
    margin: 5rem 2% 2rem;
}
/*--------GET INVOLVED PAGE--------*/
ol.getinvolved {
    margin: 1rem 0;
    font-size: 1rem;
}
ol.getinvolved li {
    padding: .5rem;
}
ol.getinvolved li a,
.tile.content-paragraph a {
    font-style: italic;
    color: #649faf;
}
ol.getinvolved li a:hover,
.tile.content-paragraph a:hover{
    font-weight: bold;
    font-style: normal;
}
.birthdaylist {
    display: block;
    padding: 2% 4.5rem;
    text-align: center;
}
div.involved-photos {
    margin: 1rem 0;
}
div.involved-photos figure {
    width: 96%;
    padding: 2%;
    margin: 0;
}
div.involved-photos figure img {
    width: 100%;
}
/*-----------EVENT PAGE-------------*/
.tile.content-paragraph {
    font-size: 1.5rem;
    color: #649faf;
    font-weight: bold;
}
div.gmap_canvas {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    padding: 1rem 2%;
}
div.service-photos {
    margin: 1rem 0;
}
div.service-photos figure {
    width: 96%;
    padding: 2%;
    margin: 0;
}
div.service-photos figure img {
    width: 100%;
}
/*-------------DONATE PAGE------------*/
form#donateButton {
    display: flex;
    justify-content: center;
    padding: 2rem;
    
}
form#donateButton input.donateimage {
    width: 200px;
    height: 64px;

}
div.donate-image {
    margin: 2rem 2%;
}
div.donate-image figure{
    width: 100%;
    margin: auto;
    
}
div.donate-image figure img {
    width: 100%;
}

/*----------CONTACT PAGE------------*/
div.contact-info {
    text-align: center;
    padding-top: 1rem;
}
div.contact-info section {
    padding: .75rem 0 0;
}
div.contact-info h3 {
    text-decoration: underline;
}
/*-------------THANK YOU PAGE-----------*/
div.thankyou-banner {
    margin-top:2rem;
}
div.thankyou-banner,
div.logos {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    text-align: center;

}
div.thankyou-banner figure {
    width: 100%;
}
div.logos figure {
    width:96%;
    margin: 1rem 0;
    padding: 1rem 2%;

}
div.thankyou-banner figure img,
div.logos figure img {
    width: 100%;
}
div.logos figure figcaption {
    padding: .5rem 0 0;
    font-style: italic;
    color: black;
    font-size: .75rem;
}




footer {
    background-color: #f89ea1; 
    text-align: center;
    padding: 2rem;
    color: #ffffff;
}
footer a.social img {
    width: 1.5rem;
}

footer a.social {
    text-decoration: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }






/*-----------------------MEDIUM SCREENS---------------------------*/
@media only screen and (min-width: 560px) {

header div h1 {
    font-size:2.25rem;
    padding-top: 1rem;
}
header div h3 {
    font-size: 1.5rem;
}
nav li {
    float: left;
    width: 16.66%;
}

nav button {
    display: none;
}

nav ul.hide {
    display: block;
}

nav {
    background-color: #e3f3fa;
}
/*--------HOME PAGE-----------*/
section.home-tiles div.tile1 {
    width: 88%;
}

section.home-tiles div.tile1 h1,
section.home-tiles div.tile1 h2,
section.home-tiles div.tile h2 {
    text-align: center;
}

section.home-tiles div.tile {
    width: 42%;
    padding: 0 2%;
}
div.instagram-embed {
    margin: 5rem 15% 2rem;
}

/*-----------GET INVOLVED PAGE-----------*/
ol.getinvolved {
    margin: 1rem 15%;
    font-size: 1.2rem;
}
ol.getinvolved li {
    padding: .8rem;
}
div.involved-photos  {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}
div.involved-photos figure {
    width: 29%;
}

/*-----------EVENT PAGE------------*/
div.service-events {
    margin: 1rem 15%;
}

div.gmap_canvas {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    padding: 1rem 0;
}

div.service-photos  {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}
div.service-photos figure {
    width: 29%;
}

/*-----DONATE PAGE-------*/
div.donate-image figure{
    width: 75%;
}

/*------THANK YOU-----------*/
div.thankyou-banner,
div.logos {
    flex-basis: 100%;
    
}
div.thankyou-banner figure {
    width: 70%;
    margin: 1rem auto 5rem;
}
div.logos figure {
    width: 42%;
    margin: 1rem 0;
}




footer a.social img {
    width: 2rem;
    padding: 0 .5rem;
}







} /*end medium screens*/



/*-----------------------LARGE SCREENS---------------------------*/
@media only screen and (min-width: 1028px) {   


header, 
nav, 

main, 
footer {
    max-width: 64rem;
    margin: auto;
}

div.donate-image figure{
    width: 50%;
}



div.thankyou-banner,
div.logos {
    flex-basis: 100%; 
}
div.logos figure {
    width: 21%;
}









}/*end large screens*/