header {
    padding: .5rem 2% ;
    display: grid;
    grid-template-columns: 130px auto;
    background-color: #f89ea1;
    color: #ffffff;

}

header div h1 {
    line-height: 0px;
    padding-top: 1.5rem;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
}
header div h3 {
    font-size: .75rem;
}
header div h3, 
nav, 
main,
footer {
    font-family: 'Rubik', sans-serif;
}

main, 
footer {
    padding: 0 2%;
}
main section {
    margin-bottom: 1rem;
}
nav {
    background-color: #e3f3fa;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    padding: 0 2%;
    margin: 0;
    text-align: center;
}

nav ul.hide {
    display: none;
}

nav ul li a {
    display: block;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    color: #000000/*#8baab5*/;
}

nav ul li a:hover {
    background-color: #649faf;
    color: #ffffff;
}

.active {
    background-color: #649faf;
}

h2 {
    margin: 2rem 0 .8rem;
}
h2.page-header {
    text-align: center;
}

figure.banner {
    flex-basis: 100%;
    margin: 1rem 0;
}

figure.banner img {
    width: 100%;
}

section.home-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section.home-tiles div.tile,
section.home-tiles div.tile1 {
    float: left;
    width: 96%;
    padding: 0 2%;
}

ol.getinvolved {
    margin: 1rem 15%;
    font-size: 1.1rem;
}
ol.getinvolved li {
    padding: 1rem;
}
div.service-events {
    margin: 1rem 15%;
}
form.contact-form fieldset {
    display: flex;
    flex-basis: 100%;
    margin: 2rem 0;
    border: 3px dashed #f5f153;
    border-radius: 5px;
    padding: .5rem 2%;
}
form.contact-form label input,
form.contact-form label textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px black;
    border-radius: 3px;
    margin: 0 0 1rem;
    padding: .75rem;
    color: #555;
    width: 90%;
    max-width: 30rem;
}
form.contact-form label textarea {
    height: 200px;
}
form input.submit {
    border: none;
    background-color: #8baab5;
    color: black;
    border-radius: 1rem;
    padding: .75rem;
    margin: 2rem 0 2rem 2%;
    width: 96%;
    max-width: 30rem;
    cursor: pointer;
}
footer {
    background-color: #f89ea1; 
    text-align: center;
    padding: 2rem;
    color: #ffffff;
}
footer a.social img {
    width: 1.5rem;
}

footer a.social {
    text-decoration: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }






/*-----------------------MEDIUM SCREENS---------------------------*/
@media only screen and (min-width: 560px) {

header div h1 {
    font-size:2.25rem;
    padding-top: 1rem;
}
header div h3 {
    font-size: 1.5rem;
}
nav li {
    float: left;
    width: 20%;
}

nav button {
    display: none;
}

nav ul.hide {
    display: block;
}

nav {
    background-color: #e3f3fa;
}

section.home-tiles div.tile1 {
    width: 88%;
}

section.home-tiles div.tile1 h1,
section.home-tiles div.tile1 h2,
section.home-tiles div.tile h2 {
    text-align: center;
}

section.home-tiles div.tile {
    width: 42%;
    padding: 0 2%;
}

footer a.social img {
    width: 2rem;
    padding: 0 .5rem;
}







} /*end medium screens*/



/*-----------------------LARGE SCREENS---------------------------*/
@media only screen and (min-width: 1028px) {   


header, 
nav, 
body, 
main, 
footer {
    max-width: 75rem;
    margin: auto;
}









}/*end large screens*/